
header {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: navy;
    color: white;
    height: 2em;
    }

    .navbar {
        list-style-type: none;
        margin: .5em 5%;
    }

li {
    background-color: darkcyan;
    text-align: center;
    display: inline;
    margin-right: 5%;

}


a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: .75em;
}

#intro {
    margin-top: .25rem;
    margin-bottom: .25rem;
    }

#intro,
h1 {
    font-size: 3rem; 
    margin-top: 2rem;  
    }

#intro,
h2 {
    font-size: 2rem;
    }

p {
    font-size: 1rem;
    font-family: Verdana, Geneva, sans-serif;  
    }


.article {
    border: .1rem solid navy;
    color: yellow;
    background: darkcyan;
    }

.label {
    font-weight: bold;
}

