#intro,
h1 {
    font-size: 3rem;
    margin: .25rem;
    margin-bottom: .25rem;   
    }

#intro,
h2 {
    font-size: 2rem;
    margin-top: .25em;
    margin-bottom: .25rem;
    }

p {
    font-size: 1rem;
    font-family: "Times New Roman", Georgia, Serif;  
    }

.article {
    border: .1rem solid navy;
    color: yellow;
    background: black;
    }

.label {
    font-weight: bold
}

